<%- include ("./partials/header") %>

<div class ="container">
	<div class="jumbotron">
  <h1 class="display-4">Welcome to Credit Management System</h1>
  <p class="lead">Here you will get all the information regarding this website and you will be breifed with its working</p>
  <hr class="my-4">
  </div>
</div>
	
<%- include ("./partials/footer") %>
