<%- include ("./partials/header") %>

<div class ="container">
	<div class="jumbotron">
  <h1 class="display-4">Welcome to Credit Management System</h1>
  <p class="lead">Here you will get all the information regarding this website and you will be breifed with its working</p>
  <hr class="my-4">
  </div>
	<h1>
		Instructions
	</h1>
	<ol class="menu">
		<div class="container">
		<li>To Show All Users:
You can see all the users by going into
Home Page → Get Started </li><br>
			<li>To Transfer Credits
				<ul class= "inside">
					<li>Home Page → Get Started </li>
                    <li>Select/click on a person to view their respective credits</li>
					<li>click "Make Transactions" </li>
					<li>choose a person to transfer credits</li>
                    <li>Enter amount of Credits to Transer </li>
					<li>click Send!</li>
				</ul>
			</li>
		</div>
	</ol>
</div>
	
<%- include ("./partials/footer") %>
