<%- include("partials/header") %>
<link rel="stylesheet" style="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<div class="ui main text container segment">
	<div class="ui huge header">
	    Transfer Credit
	<form class="ui form" action="/users/<%= user._id %>?_method=PUT" method="POST">
		<div class="field">
			<label>Select user to whcih you wish to transfer</label>
			<select name = "name">
				<option>anshoo</option>
				<option>ayush</option>
				<option>rahul</option>
				<option>ridhiya</option>
				<option>milind</option>
				<option>akankshi</option>
				<option>raghav</option>
				<option>kunal</option>
				<option>apoorv</option>
				<option>rohan</option>
			</select>
			<label>Enter Credit</label>
			<input type="number" name="credit">
		</div>
	<button class="ui green big basic button">Submit</button>
	</form>
</div>

<%- include("partials/footer") %>