<%- include("partials/header") %>
<link rel="stylesheet" style="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<div class="ui main text container segment">
	<div class="ui huge header">
	    Transfer Credit
	</div>
	<form class="ui form" action="/users?_method=PUT" method="POST">
		<!-- <div class="field">
			<label>Enter Name of the user</label>
			<input type="text" name="user[name]">
		</div> -->
		<div class="field">
			<label>Enter Credit</label>
			<input type="number" name="credit">
		</div>
	<button class="ui green big basic button">Submit</button>
	</form>
</div>

<%- include("partials/footer") %>