<%- include("partials/header") %>
<link rel="stylesheet" style="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<div class="ui main text container segment">
	<div class="ui huge header">
	    Transfer Credit
	<form class="ui form" action="/users/<%= user._id %>?_method=PUT" method="POST">
		<div class="field">
			<label>Select user to which you wish to transfer</label>
			<select name = "name">
				<option>Anshoo</option>
				<option>Ayush</option>
				<option>Rahul</option>
				<option>Ridhiya</option>
				<option>Milind</option>
				<option>Akankshi</option>
				<option>Raghav</option>
				<option>Kunal</option>
				<option>Apoorv</option>
				<option>Rohan</option>
			</select>
			<label>Enter Credit</label>
			<input type="number" name="credit">
		</div>
	<button class="ui green big basic button">Submit</button>
	</form>
</div>

<%- include("partials/footer") %>